---
Language:        Cpp
BasedOnStyle:  LLVM
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
UseTab:          Never
ColumnLimit:     120
IndentWidth:     4
PointerAlignment: Left
...
